@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');


#light{

    color: hsl(200, 15%, 8%);
    header{
        background-color: hsl(0, 0%, 100%);
        a{
            color: hsl(200, 15%, 8%);

            &:hover{
                color: rgba($color: rgb(37, 34, 34), $alpha: 0.8);
            }
        }
    }

    .action-inputs{
        background-color: hsl(0, 0%, 98%);

        .input_search{
            color:hsl(200, 15%, 8%);

            input {
                background-color: hsl(0, 0%, 100%);
                color: hsl(200, 15%, 8%);

                &::placeholder{
                    color: hsl(200, 15%, 8%);
                }
                &:focus{
                    color: hsl(200, 15%, 8%);
                }
            }
        }

        .custom-select{
            background-color: hsl(0, 0%, 100%);
            color:hsl(200, 15%, 8%);
        }
    }
}

#dark{
    color: white;
    header{
        background-color: #2b3945;
        a{
            color: white;

            &:hover{
                color: rgba($color: #fff, $alpha: 0.8);
            }
        }
    }
    .action-inputs{
        background-color: hsl(207, 26%, 17%);

        .input_search{
            color: #fff;

            input {
                background-color: #2b3945;
                color: #fff;

                &::placeholder{
                    color: white;
                }
                &:focus{
                    color: white;
                }
            }
        }

        .custom-select{
            background-color: #2b3945;
            color: white;
        }
    }
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
    padding: 1.7rem 5rem;
    h1{
        font-size: 1.7rem;
        font-weight: 800;
        margin-bottom: 0;
    }

    span{
        text-decoration: none;
        cursor: pointer;
        font-weight: 600;

        .header_icon {
            margin-right: 10px;
        }

    }
}

.action-inputs{
    padding-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;
    width: 100vw;
    
    .input_search{
        position: relative;
        width: 271px;
        input {
            box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
            border: none;
            padding: 1rem 4.5rem;
            width: 33vw;
            &::placeholder{
                font-size: 15px;
                font-weight: 600;
            }

            &::-webkit-search-cancel-button {
                display: none;
            }

        }
        


        .search_icon {
            position: absolute;
            width: 17px;
            left: 34px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    
    .custom-select{
        width: 15vw;
        border: none;
        border-radius: 0.375rem;
        padding: 1rem 2.25rem 1rem 1.2rem;
        box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
        &:focus-visible{
            outline: none;
        }

        -webkit-appearance: none;
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
        background-repeat: no-repeat, repeat;
        background-position: right 1rem top 50%, 0 0;
        background-size: .65em auto, 100%;
    }
}
